# Conexões automáticas ao PostgreSQL
# Formato: hostname:port:database:username:password
${DB_POSTGRESDB_HOST}:${DB_POSTGRESDB_PORT}:postgres:${POSTGRES_USER}:${POSTGRES_PASSWORD}
${DB_POSTGRESDB_HOST}:${DB_POSTGRESDB_PORT}:${DB_POSTGRESDB_DATABASE}:${POSTGRES_USER}:${POSTGRES_PASSWORD}
${DB_POSTGRESDB_HOST}:${DB_POSTGRESDB_PORT}:${CHATBOT_DATABASE}:${POSTGRES_USER}:${POSTGRES_PASSWORD}
